.App {
  text-align: center;
  background-color: #f3f3f7;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App .content-contained {
  max-width: 1200px;
  padding: 50px 25px;
  margin: 0 auto;
}
